[submodule "soundsimple/deps/SFML"]
	path = soundsimple/deps/SFML
	url = ../SFML.git
	# e.g. from https://github.com/SFML/SFML.git
[submodule "chainsign"]
	path = chainsign
	url = ../chainsign.git
	# e.g. from https://github.com/robertoleksy/chainsign.git
	branch = dev
