[submodule "soundsimple/deps/gtest"]
	path = soundsimple/deps/gtest
	url = https://github.com/monetas/gtest.git
[submodule "soundsimple/PyMailSender"]
	path = soundsimple/PyMailSender
	url = https://github.com/Avvys/PyMailSender.git 
